<% include partials/header %>
<!--<h1>Hello from the home.ejs file!!!</h1>-->
<h1 style="padding: 20px;">Today's Matches</h1>
<% var i = 0; %>
<% for (i = 0; i < data.length; i++) { %>
    <div>
        (HOME)  <%= data[i]["home_team"]["country"] %>  vs.  <%= data[i]["away_team"]["country"] %> (AWAY)
        <br>
        <%= data[i]["location"] %> - <%= data[i]["venue"] %>
        <br>
        <%= data[i]["datetime"] %>
        <br>
    </div>
    <hr>
<% } %>

<p>
    Check for the Live Match Updates! <a href="/match">Here</a>
    <br>
    Know about the Group Standings <a href="/standing">Here</a>
</p>
<% include partials/footer %>